body {
  background-color: white;

}

header {
  background-color: #ff6600;
  width: 85%;
  margin: 0 auto;
  padding: 0 0;
}

h1 {
  margin: 0;
}

section {
  background-color: #f6f6e6;
  width: 85%;
  margin: 0 auto;
  padding: 0 0;
}

ol {
  margin: 0;
}

li {
  padding-top: 3pt;
  padding-bottom: 3pt;
}
